@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playpen+Sans&display=swap');


body {
    font-family: 'Inter', sans-serif;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    padding: 30px;
}

#logo {
    display: block;
    margin: auto;
}

#welcome {
    width: 75%;
    margin: auto
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    margin: 0;
}

#container{
    width: 80%;
    margin:auto;
}

.filmmaker{
    display: flex;
    margin-bottom: 20px;
}

.bio {
    margin-left: 20px;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: .7em;
}

#filmography{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
}

.film img{
    width: 100%;
    height: auto;
}