<nav>
    <!-- <a href="/">Syllabus</a>
    <a href="/schedule.html">Schedule + Class Notes</a>
    <a href="/assignments.html">Assignments</a> -->
    <!-- <div class="nav-section">
    {% for item in site.data.navigation %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" {% if page.url == item.link %}class="nav-current"{% endif %}>
        <span>*&nbsp;</span>{{ item.name }}
        </a>
    {% endfor %}
    </div> -->
    <div class="nav-section">
        <a href="{{ site.url }}{{ site.baseurl }}/"><span>*&nbsp;</span>Syllabus</a>
        <a href="{{ site.url }}{{ site.baseurl }}/schedule.html"><span>*&nbsp;</span>Schedule + Notes</a>
        <a href="{{ site.url }}{{ site.baseurl }}/assignments.html"><span>*&nbsp;</span>Assignments</a>
        
    </div>  
    <div class="nav-section">
        <a href="https://pollev.com/emilyzhao"><span>*&nbsp;</span>Poll Everywhere</a>
        <a href="https://brightspace.nyu.edu/d2l/home/258670"><span>*&nbsp;</span>Brightspace</a>
        <a href="https://edstem.org/us/courses/36237/discussion/"><span>*&nbsp;</span>Tutoring</a>
    </div>      

</nav>