body {
    font-family: Arial, sans-serif;
    width: 90%;
    margin: auto;
    padding: 0;
}

header {
    font-family: Arial, sans-serif;
    padding: 10px 0;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin-bottom: 20px;
}

ul li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

a, a:visited{
    text-decoration: none;
    color: black;
}

ul li:hover{
    background-color: red;
}

a:hover{
    background-color: yellow;
}

a:active{
    font-weight: bolder;
}

.personalities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
}

article {
    width: 37%;
}

.type {
    background-color: #f2f2f2;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
}

.type:hover{
    font-weight: bolder;
}

@media (max-width: 768px) {
    .container{
        display: block;
    }
    .personalities{
        width: 100%;
        margin-bottom: 20px;
    }
    article{
        width: 100%;;
    }
}

@media (max-width: 480px) {
    .personalities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    body {
        width: 100%;
        padding: 10px;
    }
    
}

